{{- with .GetTerms "persons_awards" }}
  {{- $count := . | len }}
  {{- $desktop := site.Params.image.xsmall | default false }}
  {{- $mobile := site.Params.image.xsmall | default false }}
  <aside class="list list-awards">
    <p>{{ i18n "awards.related" $count }}</p>
    <ul>
      {{- range . }}
        {{- $awards := partial "func/GetRealContext.html" (dict "page" . "section" "awards") }}
        {{ with $awards }}
          <li>
            {{- with .Params.image}}
              {{ partial "commons/image.html" (dict
                "src" .src
                "alt" .alt
                "desktop" $desktop
                "mobile" $mobile
                "picture_class" "avatar"
                "crop" "top"
              ) }}
            {{ end -}}
            <div>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ with .Description }}
                <br><span>{{ partial "func/TruncateContent.html" (dict "content" . "limit" 110) }}</span>
              {{ end }}
            </div>
          </li>
        {{end}}
      {{- end }}
    </ul>
  </aside>
{{- end }}